* {
  box-sizing: border-box;
}

body {
  font-family: 'Tajawal', cursive, 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: #e5e5e5;
  text-align: center;
}

img {
  width:100%;
}

ul, li {
  list-style: none;
}

.container{
  margin: auto;
}

/* MAIN HEADER */

.main-header {
  background: #e5e5e5
}

.main-header h1 {
  font-size: 30px;
  margin: 10px 0;
}

.primary-text {
  font-family: 'Playfair Display SC', serif;
  text-transform: uppercase;
}

/* INTRO TEXT */

.intro-text {
  padding-top: 200px;
}

/* MARGIN BOTTOM */

.margin-bottom {
  margin-bottom: -7px;
}

/* NAVBAR */

#navbar {
  text-transform: uppercase;
}

#navbar li{
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a{
  text-decoration: none;
  color: #888;
}

#navbar li.current a, #navbar a:hover{
  color: #56a79a;
  border-bottom: 3px solid #56a79a;
  padding-bottom: 1px;
}

/* THUMBGALLERY */

.wrapper {
  max-width: 860px;
  margin: auto;
  border: #e5e5e5 solid 3px;
  background: #e5e5e5;
}

.main-img img,
.imgs img {
  width: 100%;
  padding-bottom: 10px;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0.8;
  animation: fadeIn 0.5s ease-in 1 forwards;
}


/* INTRO */

.intro {
  background: url(../images/stadium.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 75vh;
  border-top: 5px solid #56a79a;
  border-bottom: 5px solid #56a79a;
}

.intro h3 {
  /* background: #333;
  color: #fff;
  border-radius: 70%;
  padding: 40px;
  opacity: 0.65;
  line-height: 1.8;
  margin: auto; */
}

.intro h2 {
  font-size: 40px;
  background: #333;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  opacity: 0.7;
}

.geologic-history {
  line-height: 1.8;
  padding: 20px;
}

.geologic-history p{
  font-size: 1.15em;
}

.geologic-history h2{
  text-transform: uppercase;
}

/* GULF TROUGH */
.gulf-trough {
  border-top: 5px solid #56a79a;
  background: #333;
  color: #fff;
  border-bottom: 5px solid #56a79a;
}

.gulf-trough figcaption {
  padding-bottom: 30px;
}

.gulf-trough p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
  line-height: 1.8;
}

/* PAYNES-INTRO */
.paynes-intro {
  border-bottom: 5px solid #56a79a;
  padding-bottom: 40px;
}

.paynes-intro h2 {
  font-size: 35px;
}

/* RESOURCES */

.resources h2 {
  font-size: 40px;
}

.resources, {
  margin-top: 50px;
  padding-bottom: 200px;
  background: #e5e5e5
}

.recreation-image {
  padding-top: 30px;
  background: #333;
  color: #fff;
}

.recreation-image img{
  border-radius: 50%
}

.resources i {
  font-size: 50px;
  color: #56a79a;
}


/* RECREATION */

#recreation {
  background: #333;
  color: white;
}

#recreation figcaption{
  padding-bottom: 40px;
}

/* INFO */

.limestone,
.info,
#recreation,
.paynes {
  background:#333;
  color:#fff;
}

/* BORDER */
#recreation,
.limestone,
.info {
  border-top: 5px solid #56a79a;
  border-bottom: 5px solid #56a79a;
}

/* MAIN FOOTER */

.main-footer {
  background: #c5c8cc
}
